# Redirect from old explorer URL to new one
server {
    listen 8080;
    listen [::]:8080;
    server_name explorer.lux.network;
    return 301 https://explore.lux.network$request_uri;
}